url: "https://yoururl.confluenceserver.net"         # the url to your confluence server instance
user: "username"                                    # the username you login with
password: "hunter2"                                 # the password of your user
